.header {
    background-color: #001529 !important;
    padding: 0;
}

.loggedLayout {
    height: calc(100vh);    
}

.form-container {
    background: #fff;
    border-radius: 20px; 
    // margin: 24px; 
    padding: 40px;
}