.header {
    background-color: #ffffff;
}

.form-container {
    background: #fff;
    border-radius: 20px; 
    // margin: 24px; 
    padding: 40px;
}

.profile-form {
    width: 420px !important;
}