.landing-container {
}

.header-landing{
    display: flex;
    align-items: center;
}

.header-button-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.auth-landing-content {
    height: calc(100vh - 64px);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
