/************general************/
*{
    box-sizing: content-box;
}
.center{
    text-align: center;
}
.hidden{
    visibility: hidden; 
}
.container{
    margin: 0 auto;
    width: 980px;
}
.ant-btn-lg {
    span {
        font-size: 20px;
        font-weight: bold;
    }
}
.form-container {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50vw;
    @media (max-width: 700px) {
        width: 80%;
        margin: 0;
        padding: 0;
    }
}

.landing-title-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // margin-left: 50px;
    @media (max-width: 600px) {
        margin-left: 10px;
    }
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        @media (max-width: 600px) {
            font-size: 30px;
        }
    }
    h4 {
        color: #fff;
        @media (max-width: 600px) {
            font-size: 15px;
        }
    }
    span {}
    width: 50vw;
    &--center {
        @media (max-width: 600px) {
            margin-left: 0;
        }
        transform: translate(-50%, -50%);
        left: 50%;
    }

    &--team {
        width: 80%;
    }
}